body {
  font-size: 11px;
}

.searchbar {
  font-size: 12px;
}

rect {
  stroke: #eee;
  fill-opacity: .8;
}

rect.parent {
  cursor: pointer;
}

.label {
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11;
  margin-left: 4px;
  margin-right: 4px;
}
