<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flame Graph</title>
  </head>
  <body>
    <div id="controls">
      <button id="context-button" type="button">Context</button>
      <button id="reset-button" type="button">Reset Zoom</button>
      <button id="clear-button" type="button">Clear</button>
      <form id="search-form">
        <input id="search-input" type="text" name="search">
        <input type="submit" value="Search">
      </form>
    </div>
    <div id="content">
        <pre id="context" style="display: none"></pre>
        <div id="chart"></div>
        <div id="details">Loading Flame Graph...</div>
    </div>

    <script>
      const stacks = [/** @flamegraph_json **/];
      const options = [/** @options_json **/];

      flamegraph(stacks[0], options[0]);
    </script>
  </body>
</html>
